{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": ["error", "ignorePackages", {
      "mjs": "always"
    }],
    "mocha/no-exclusive-tests": "error",
    "object-curly-newline": 0,
    "object-curly-spacing": [2, "always"],
    "semi": [2, "never"],
    "space-before-function-paren": [2, "always"]
  },
  "parserOptions": {
    "ecmaVersion": 13
  }
}