{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "semi": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "mocha/no-exclusive-tests": "error",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "space-before-function-paren": [2, "always"]
  }
}