{
  env: {
    node: true,
    mocha: true
  },
  "extends": "airbnb/base",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "semi": ["off"],
    "object-curly-spacing": ["off"],
    "mocha/no-exclusive-tests": "error",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}