version: '3'
services:
  test:
    build: .
    environment: 
      # RQLITE_HOSTS: http://rqlite-master:4001,http://rqlite-replicate-0,http://rqlite-replicate-1:4001
      RQLITE_HOSTS: http://rqlite-master:4001
    depends_on:
      - rqlite-master
      - rqlite-replicate-0
      - rqlite-replicate-1
  rqlite-master:
    build: 
      context: ./docker/rqlite-master
      dockerfile: Dockerfile
    healthcheck:
      test: ["CMD", "curl", "http://localhost:4001/status"]
  rqlite-replicate-0:
    build: 
      context: ./docker/rqlite-replicate-0
      dockerfile: Dockerfile
    depends_on:
      - rqlite-master
    healthcheck:
      test: ["CMD", "curl", "http://localhost:4001/status"]
  rqlite-replicate-1:
    build: 
      context: ./docker/rqlite-replicate-1
      dockerfile: Dockerfile
    depends_on:
      - rqlite-master
    healthcheck:
      test: ["CMD", "curl", "http://localhost:4001/status"]